<div class="min-h-screen flex" style="background-image: url('assets/saa.png'); background-attachment: fixed;">
  <app-sidebar
    [isSidebarOpen]="isSidebarOpen"
    (toggleSidebar)="toggleSidebar()"
  ></app-sidebar>

  <div class="flex-1 flex items-center justify-center">
    <div class="bg-black/30 flex items-center justify-center backdrop-blur-md shadow-lg p-8 rounded-lg max-w-lg w-full text-white border border-gray-700">
      <div class="w-full">
        <h2 class="text-3xl font-bold mb-6 text-yellow-400 text-center">Add Income</h2>
        <form #incomeForm="ngForm" (ngSubmit)="addIncome()">
          <div class="mb-4">
            <label for="amount" class="block text-lg font-medium text-yellow-300">Amount:</label>
            <input
              type="number"
              id="amount"
              class="w-full px-4 py-2 mt-1 bg-black/40 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400"
              name="amount"
              [(ngModel)]="amount"
              required
            />
          </div>
          <div class="mb-6">
            <label for="source" class="block text-lg font-medium text-yellow-300">Source:</label>
            <select
              id="source"
              class="w-full px-4 py-2 mt-1 bg-black/40 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400"
              name="source"
              [(ngModel)]="source"
              required
            >
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>
          <button
            type="submit"
            class="w-full py-3 bg-yellow-500 text-black rounded-lg font-semibold transition-transform transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-yellow-400 disabled:bg-gray-700"
            [disabled]="!incomeForm.form.valid || isLoading"
          >
            <span *ngIf="!isLoading">Add Income</span>
            <span *ngIf="isLoading">Adding...</span>
          </button>
        </form>
        <div *ngIf="successBubble.show" class="success-message mt-4 text-center text-green-500">
          {{ successBubble.message }}
        </div>
      </div>
    </div>
  </div>
</div>
