<!-- src/app/components/add-expense/add-expense.component.html -->
<div class="submit-form">
  <div *ngIf="!submitted">
    <div>
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="expense.username" name="username" />
    </div>

    <div>
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount" required [(ngModel)]="expense.amount" name="amount" />
    </div>

    <div>
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="expense.category" name="category" />
    </div>

    <button (click)="addExpense()" class="btn btn-success">Submit</button>
  </div>

  <div *ngIf="submitted">
    <h4>Expense added successfully!</h4>
    <button (click)="newExpense()" class="btn btn-primary">Add Another</button>
  </div>
</div>
