<div class=" inset-y-0 fixed left-0 w-80 bg-black text-white flex flex-col z-50" [class.w-20]="!isSidebarOpen">

    <div class="flex items-center justify-between p-4 border-b border-gray-700">

        <img src="assets/d.png" alt="Logo" class="max-h-12 max-w-full object-contain" *ngIf="isSidebarOpen">
        <button (click)="toggle()" class="text-yellow-400 hover:text-yellow-500">
            <mat-icon>{{ isSidebarOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
    </div>


    <nav class="flex-1 px-4 py-6 overflow-y-auto">
        <ul class="space-y-4">
            <li>
                <a
                  (click)="navigateTo('/dashboard')"
                  class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
                  [ngClass]="{'text-yellow-400': isActive('/dashboard')}"
                >
                    <mat-icon>dashboard</mat-icon>
                    <span *ngIf="isSidebarOpen">Dashboard</span>
                </a>
            </li>
            <li>
                <a
                  (click)="navigateTo('/expense')"
                  class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
                  [ngClass]="{'text-yellow-400': isActive('/expense')}"
                >
                    <mat-icon>add_circle_outline</mat-icon>
                    <span *ngIf="isSidebarOpen">Add Expenses</span>
                </a>
            </li>
            <li>
              <a
                (click)="navigateTo('/income')"
                class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
                [ngClass]="{'text-yellow-400': isActive('/income')}"
              >
                  <mat-icon>add_circle_outline</mat-icon>
                  <span *ngIf="isSidebarOpen">Add Income</span>
              </a>
          </li>
          <li>
            <a
              (click)="navigateTo('/barchart')"
              class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
              [ngClass]="{'text-yellow-400': isActive('/barchart')}"
            >
                <mat-icon>analytics</mat-icon>
                <span *ngIf="isSidebarOpen">Analytics</span>
            </a>
        </li>
            <li>
                <a
                  (click)="navigateTo('/transaction')"
                  class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
                  [ngClass]="{'text-yellow-400': isActive('/transaction')}"
                >
                  <mat-icon>swap_horiz</mat-icon>
                  <span *ngIf="isSidebarOpen">Transactions</span>
                </a>
              </li>
            <li>
                <a
                  (click)="navigateTo('/goals')"
                  class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
                  [ngClass]="{'text-yellow-400': isActive('/goals')}"
                >
                    <mat-icon>flag</mat-icon>
                    <span *ngIf="isSidebarOpen">Goals</span>
                </a>

            <li>
              <li>
                <a
                  (click)="navigateTo('/goals')"
                  class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400"
                  [ngClass]="{'text-yellow-400': isActive('/goals')}"
                >
                    <mat-icon>flag</mat-icon>
                    <span *ngIf="isSidebarOpen">Goals</span>
                </a>

            <li>
                <a (click)="navigateTo('/report')"  class="flex items-center space-x-4 text-gray-300 hover:text-yellow-400" [ngClass]="{'text-yellow-400': isActive('/report')}">
                    <mat-icon>person</mat-icon>
                    <span *ngIf="isSidebarOpen">Report</span>
                </a>
            </li>
        </ul>
    </nav>


    <div class="p-4 border-t border-gray-700">
        <button (click)="logout()" class="flex items-center space-x-4 text-red-500 hover:text-red-700 w-full">
            <mat-icon>logout</mat-icon>
            <span *ngIf="isSidebarOpen">Logout</span>
        </button>
    </div>
</div>
