
.min-h-screen {
    display: flex;
  }
  

  .flex-1 {
    flex-grow: 1;
  }
  
  
  @media (max-width: 768px) {
    .min-h-screen {
      flex-direction: column;
    }
  
    .flex-1 {
      order: 2; 
    }
  }
  

  .photo-preview img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }
  