/* Loader Overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.modal-loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
  z-index: 10; /* Make sure it stays on top */
}
/* Spinner */
.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Input Field Styles */
.input-field {
  position: relative;
  width: 100%;
}

.input-field input {
  padding-left: 2.5rem; /* Adds space for the icon */
  width: 100%;
  height: 40px;
  border: none; /* Remove all borders */
  border-radius: 5px;
  background-color: transparent;
  color: white;
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove any box shadow */
}

.input-field input:focus {
  border: none; /* Ensure no border on focus */
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove focus box shadow */
}

.input-field input::placeholder {
  color: #aaa; /* Placeholder color */
}

/* Material Icon Styles */
.input-field mat-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fcfbfb;
}

/* Toggle Visibility Icon (Eye Icon) */
.input-field .toggle-password {
  position: fixed;
  right: 0.5rem;
  top: 45%;
  transform: translateY(-50%);
  transform: translateX(1400%);
  color: white;
  cursor: pointer;
}

/* Close Button Styles */
.modal-wrapper .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}

.modal-wrapper .close-button mat-icon {
  font-size: 24px;
  color: #666; /* Gray color */
}

.modal-wrapper .close-button:hover mat-icon {
  color: #333; /* Darker gray on hover */
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

/* Modal Wrapper (Box Styling) */


/* Add a shadow to the modal box */
.modal-wrapper {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
