@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page {
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 5rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;
  }
  
  .mat-toolbar {
    box-shadow: none;
  }
  